*.pyc
*.swp
.idea
*.iml
build
dist
*.egg*
.DS_Store
*.zip

*.bak
.vscode
.vscode/**

thunder-tests
vscode.env
.venv
OctoKlipper.egg-info

# Node.js and build artifacts
node_modules/
package-lock.json
octoprint_klipper/static/dist/
