<form class="form-horizontal">
  <ul class="nav nav-pills" id="klipper-settings">
    <li><a href="#basic" data-toggle="tab" data-profile-type="klipper-basic">{{ _('Basic') }}</a></li>
    <li><a href="#macros" data-toggle="tab" data-profile-type="klipper-macros">{{ _('Macros') }}</a></li>
    <li><a href="#level" data-toggle="tab" data-profile-type="klipper-bed">{{ _('Bed Leveling') }}</a></li>
    <li><a href="#update" data-toggle="tab" data-profile-type="klipper-update">{{ _('Klipper Update') }}</a></li>
  </ul>
  <div class="tab-content">
    <!-- Basics -->
    <div class="tab-pane active" id="basic">
      <div class="control-group">
        <div class="control-label">{{ _('Serial Port') }}</div>
        <div class="controls">
          <div class="klipper-reset-row">
            <input type="text" class="input-block-level"
              data-bind="value: settings.settings.plugins.klipper.connection.port" />
            <button type="button" class="btn btn-mini klipper-reset-btn" data-bind="click: function() { klipperViewModel.resetSetting('connection', 'port') }" title="{{ _('Reset to default') }}"><i class="icon-undo"></i></button>
          </div>
        </div>
      </div>
      <div class="control-group klipper-items-center">
        <div class="control-label">{{ _('Replace Connection Panel') }}</div>
        <div class="controls klipper-flex klipper-items-center">
          <div class="klipper-reset-row">
          <input class="controls-checkbox klipper-flex-shrink" title="{{ _('Replace Connection Panel') }}" type="checkbox"
            data-bind="checked: settings.settings.plugins.klipper.connection.replace_connection_panel">
            <span class="klipper-help-inline klipper-flex-grow">{{ _('Requires octoprint restart to take effect') }}</span>
            <button type="button" class="btn btn-mini klipper-reset-btn" data-bind="click: function() { klipperViewModel.resetSetting('connection', 'replace_connection_panel') }" title="{{ _('Reset to default') }}"><i class="icon-undo"></i></button>
          </div>
        </div>
      </div>
      <div class="control-group">
        <div class="control-label">{{ _('Hide \'Open Editor\' Button\nin the Connection Panel') }}</div>
        <div class="controls">
          <div class="klipper-reset-row">
            <input class="controls-checkbox" title="{{ _('Hide \'Open Editor\' Button\nin the Connection Panel') }}"
              type="checkbox" data-bind="checked: settings.settings.plugins.klipper.connection.hide_editor_button">
            <button type="button" class="btn btn-mini klipper-reset-btn" data-bind="click: function() { klipperViewModel.resetSetting('connection', 'hide_editor_button') }" title="{{ _('Reset to default') }}"><i class="icon-undo"></i></button>
          </div>
        </div>
      </div>
      <div class="control-group">
        <div class="control-label">{{ _('Open the last config in the editor') }}</div>
        <div class="controls">
          <div class="klipper-reset-row">
            <input class="controls-checkbox" title="{{ _('Open the last config in the editor') }}"
              type="checkbox" data-bind="checked: settings.settings.plugins.klipper.configuration.openLastConfig">
            <button type="button" class="btn btn-mini klipper-reset-btn" data-bind="click: function() { klipperViewModel.resetSetting('configuration', 'openLastConfig') }" title="{{ _('Reset to default') }}"><i class="icon-undo"></i></button>
          </div>
        </div>
      </div>
      <div class="control-group border">
        <div class="control-label">{{ _('Show Short Messages') }}</div>
        <div class="controls">
          <div class="klipper-reset-row">
            <label class="checkbox" title="{{ _('on NavBar') }}"><input type="checkbox"
                data-bind="checked: settings.settings.plugins.klipper.configuration.shortStatus_navbar" />
              {{ _('on NavBar') }}</label>
            <button type="button" class="btn btn-mini klipper-reset-btn" data-bind="click: function() { klipperViewModel.resetSetting('configuration', 'shortStatus_navbar') }" title="{{ _('Reset to default') }}"><i class="icon-undo"></i></button>
          </div>
          <div class="klipper-reset-row">
            <label class="checkbox" title="{{ _('on SideBar') }}"><input type="checkbox"
                data-bind="checked: settings.settings.plugins.klipper.configuration.shortStatus_sidebar" />
              {{ _('on SideBar') }}</label>
            <button type="button" class="btn btn-mini klipper-reset-btn" data-bind="click: function() { klipperViewModel.resetSetting('configuration', 'shortStatus_sidebar') }" title="{{ _('Reset to default') }}"><i class="icon-undo"></i></button>
          </div>
        </div>
      </div>
      <div class="control-group">
        <div class="control-label">{{ _('Enable extended functionality\nfor log messages') }}</div>
        <div class="controls">
          <div class="klipper-reset-row">
            <input class="controls-checkbox" title="{{ _('Enable extended functionality for log messages') }}"
              type="checkbox" data-bind="checked: settings.settings.plugins.klipper.log.fancy_functionality" />
            <button type="button" class="btn btn-mini klipper-reset-btn" data-bind="click: function() { klipperViewModel.resetSetting('log', 'fancy_functionality') }" title="{{ _('Reset to default') }}"><i class="icon-undo"></i></button>
          </div>
          <br>
          <button class="btn btn-small" data-bind="click: showLogfiltersDialog" title="{{ _('Logfilters') }}">
            {{ _('Edit Logfilters') }}
          </button>
        </div>
      </div>
      <div class="control-group">
        <div class="control-label">{{ _('Hide Error PopUps') }}</div>
        <div class="controls">
          <div class="klipper-reset-row">
            <input class="controls-checkbox" title="{{ _('Hide Error PopUps') }}" type="checkbox"
              data-bind="checked: settings.settings.plugins.klipper.configuration.hide_error_popups" />
            <button type="button" class="btn btn-mini klipper-reset-btn" data-bind="click: function() { klipperViewModel.resetSetting('configuration', 'hide_error_popups') }" title="{{ _('Reset to default') }}"><i class="icon-undo"></i></button>
          </div>
        </div>
      </div>
      <div class="control-group">
        <div class="control-label">{{ _('Klipper Directory') }}</div>
        <div class="controls">
          <div class="klipper-reset-row">
            <input type="text" class="input-block-level"
              data-bind="value: settings.settings.plugins.klipper.configuration.klipper_path" />
            <button type="button" class="btn btn-mini klipper-reset-btn" data-bind="click: function() { klipperViewModel.resetSetting('configuration', 'klipper_path') }" title="{{ _('Reset to default') }}"><i class="icon-undo"></i></button>
          </div>
        </div>
      </div>
      <div class="control-group">
        <div class="control-label">{{ _('Klipper Config Directory') }}</div>
        <div class="controls">
          <div class="klipper-reset-row">
            <input type="text" class="input-block-level" data-bind="value: configPath" />
            <button type="button" class="btn btn-mini klipper-reset-btn" data-bind="click: function() { klipperViewModel.resetSetting('configuration', 'config_path') }" title="{{ _('Reset to default') }}"><i class="icon-undo"></i></button>
          </div>
          <span class="klipper-help-inline klipper-danger klipper-flex-grow">{{ _('Only point this to a path containing config files!') }}</span>
          <span class="klipper-help-inline klipper-danger klipper-flex-grow">{{ _('OctoPrint will sanitize the path and filenames') }}</span>
        </div>
        <!-- ko if: serverOS() == "Linux" -->
        <div class="controls">
          {{ _(' You need to also modify the servicefile for Klipper.') }}
          <button class="btn btn-small" data-bind="click: modifyServicefile" title="{{ _('Modify Servicefile') }}">
            {{ _('Modify Klipper Servicefile') }}
          </button>
        </div>
        <!-- /ko -->
      </div>

      <div class="control-group">
        <div class="control-label"
          title="{{ _('The filename of the base config that Klipper is loading. (default is printer.cfg)') }}">{{ _('Klipper Base Config Filename') }}</div>
        <div class="controls">
          <div class="klipper-reset-row">
            <input type="text" class="input-block-level"
              data-bind="value: settings.settings.plugins.klipper.configuration.baseconfig" />
            <button type="button" class="btn btn-mini klipper-reset-btn" data-bind="click: function() { klipperViewModel.resetSetting('configuration', 'baseconfig') }" title="{{ _('Reset to default') }}"><i class="icon-undo"></i></button>
          </div>
        </div>
      </div>
      <div class="control-group">
        <div class="control-label">{{ _('Klipper Log File') }}</div>
        <div class="controls">
          <div class="klipper-reset-row">
            <input type="text" class="input-block-level"
              data-bind="value: settings.settings.plugins.klipper.configuration.logpath" />
            <button type="button" class="btn btn-mini klipper-reset-btn" data-bind="click: function() { klipperViewModel.resetSetting('configuration', 'logpath') }" title="{{ _('Reset to default') }}"><i class="icon-undo"></i></button>
          </div>
        </div>
      </div>
      <div class="control-group border">
        <div class="control-label">{{ _('Configuration Restart GCode Command') }}</div>
        <div class="controls">
          <label class="">{{ _('Klipper Restart Host GCODE:') }}
            <div class="klipper-reset-row">
              <input type="text" class="input-block-level"
                data-bind="value: settings.settings.plugins.klipper.configuration.restart_host_command" />
              <button type="button" class="btn btn-mini klipper-reset-btn" data-bind="click: function() { klipperViewModel.resetSetting('configuration', 'restart_host_command') }" title="{{ _('Reset to default') }}"><i class="icon-undo"></i></button>
            </div>
          </label>
          <label class="">{{ _('Klipper Restart Firmware GCODE:') }}
            <div class="klipper-reset-row">
              <input type="text" class="input-block-level"
                data-bind="value: settings.settings.plugins.klipper.configuration.restart_firmware_command" />
              <button type="button" class="btn btn-mini klipper-reset-btn" data-bind="click: function() { klipperViewModel.resetSetting('configuration', 'restart_firmware_command') }" title="{{ _('Reset to default') }}"><i class="icon-undo"></i></button>
            </div>
          </label>
          <label class="" title="{{ _('Restart Host system command') }}">{{ _('Restart Host system command:') }}
            <div class="klipper-reset-row">
              <input type="text" class="input-block-level"
                data-bind="value: settings.settings.plugins.klipper.configuration.restart_service_system_command" />
              <button type="button" class="btn btn-mini klipper-reset-btn" data-bind="click: function() { klipperViewModel.resetSetting('configuration', 'restart_service_system_command') }" title="{{ _('Reset to default') }}"><i class="icon-undo"></i></button>
            </div>
            <span class="help-block" style="margin-top:5px;">
              {{ _('System command for restarting the klipper service.') }}
            </span>
          </label>
          <br>
          <label class=""
            title="{{ _('The type of restart that is used if you want to restart klipper.') }}">{{ _('The type of restart that is used on the dialogs:') }}
            <div class="klipper-reset-row">
              <select data-bind="value: settings.settings.plugins.klipper.configuration.reload_used">
                <option value="HOST">Restart Host(klippy)</option>
                <option value="FIRMWARE">Restart Firmware on printer</option>
                <option value="SYSTEMCOMMAND">Restart klipper service with system command</option>
              </select>
              <button type="button" class="btn btn-mini klipper-reset-btn" data-bind="click: function() { klipperViewModel.resetSetting('configuration', 'reload_used') }" title="{{ _('Reset to default') }}"><i class="icon-undo"></i></button>
            </div>
          </label><br>
          <div class="klipper-reset-row">
            <label class="checkbox" title="{{ _('Show Confirmation before restarting Klipper?') }}">
              <input type="checkbox"
                data-bind="checked: settings.settings.plugins.klipper.configuration.confirm_reload" />
              {{ _('Confirmation before restarting Klipper?') }}
            </label>
            <button type="button" class="btn btn-mini klipper-reset-btn" data-bind="click: function() { klipperViewModel.resetSetting('configuration', 'confirm_reload') }" title="{{ _('Reset to default') }}"><i class="icon-undo"></i></button>
          </div>
        </div>
      </div>

      <div class="control-group">
        <div class="control-label">{{ _('Config Backup') }}</div>
        <div class="controls">
          <button class="btn btn-small" data-bind='click: showBackupsDialog' title="{{ _('Show Backups') }}">
            <i class="fas fa-upload"></i> {{ _('Show Backups') }}
          </button>
        </div>
      </div>
      <div class="control-group border">
        <div class="control-label">{{ _('Development Options') }}</div>
        <div class="controls">
          <div class="klipper-reset-row">
            <label class="checkbox" title="{{ _('Enable debug logging') }}">
              <input type="checkbox" data-bind="checked: settings.settings.plugins.klipper.configuration.debug_logging" />
              {{ _('Enable debug logging') }}</label>
            <button type="button" class="btn btn-mini klipper-reset-btn" data-bind="click: function() { klipperViewModel.resetSetting('configuration', 'debug_logging') }" title="{{ _('Reset to default') }}"><i class="icon-undo"></i></button>
          </div>
          <div class="klipper-reset-row">
            <label class="checkbox" title="{{ _('Enable debugging') }}">
              <input type="checkbox" data-bind="checked: settings.settings.plugins.klipper.configuration.debugging" />
              {{ _('Enable debugging') }}</label>
            <button type="button" class="btn btn-mini klipper-reset-btn" data-bind="click: function() { klipperViewModel.resetSetting('configuration', 'debugging') }" title="{{ _('Reset to default') }}"><i class="icon-undo"></i></button>
          </div>
        </div>
      </div>
    </div>
    <!-- Macros -->
    <div class="tab-pane" id="macros">
      <div class="control-group">
        <span class="help-block">
          {{ _('These macros are only meant to be used in OctoPrint.') }}
          {{ _('They are not the ones that can be defined in the printer.cfg.') }}<br />
        </span>
      </div>
      <div class="control-group" style="margin-bottom: 0px;">
        <div class="controls" style="margin-left: 82px;">
          <div class="row-fluid">
            <div class="span8" style="text-align: right"><small>{{ _('Add macro button to:') }}</small></div>
            <div class="span1" style="margin: auto;text-align: center"><small>{{ _('Klipper Tab') }}</small></div>
            <div class="span2" style="margin: auto;"><small>{{ _('Sidebar') }}</small></div>
          </div>
        </div>
      </div>
      <div data-bind="foreach: macros">
        <div class="control-group" id="item">
          <div class="control-label">{{ _('Name') }}</div>
          <div class="controls" style="margin-left: 82px;">
            <div class="row-fluid">
              <div class="span8">
                <input type="text" class="input-block-level" data-bind="value: name" />
              </div>
              <div class="span1" style="margin: auto; text-align: center;">
                <input title="{{ _('Klipper Tab') }}" style="margin: auto;" type="checkbox" class="input-block-level"
                  data-bind="checked: tab" />
              </div>
              <div class="span1" style="margin: auto; text-align: center;">
                <input title="{{ _('Sidebar') }}" style="margin: auto;" type="checkbox" class="input-block-level"
                  data-bind="checked: sidebar" />
              </div>
              <div class="span2" style="margin: auto; text-align: center;">
                <a href='#' style="vertical-align: bottom;" data-bind='click: $parent.moveMacroUp'
                  class="fa fa-chevron-up"></a>
                <a href='#' style="vertical-align: bottom;" data-bind='click: $parent.moveMacroDown'
                  class="fa fa-chevron-down"></a>
                <a href='#' style="vertical-align: bottom;" data-bind='click: $parent.removeMacro'
                  class="fa fa-trash-o"></a>
              </div>
            </div>
          </div>
          <div class="klipper-wrapper">
            <div class="klipper-control-label-bordered">Button Style</div>
            <div class="klipper-bordered">
              <div class="controls-row klipper-row-fluid">
                <div class="klipper-fluid-item-1">
                  <button class="btn"
                    data-bind="class: buttonStyle, click: $parent.dummyButtonClick, attr: { style: $parent.buttonColor($data)}">{{ _('Example') }}
                  </button>
                </div>
                <label class="klipper-fluid-item-1" style="margin: auto;"
                  title="{{ _('The style of the button.') }}">{{ _('Style') }}
                  <select data-bind="value: buttonStyle">
                    <option value="">Default</option>
                    <option value="btn-danger">Danger</option>
                    <option value="btn-success">Success</option>
                    <option value="btn-warning">Warning</option>
                    <option value="btn-info">Info</option>
                  </select>
                </label>
                <label class="klipper-fluid-item-1" style="margin: auto;">{{ _('Color') }}
                  <input type="text" class="input" placeholder="" data-bind="value: buttonColor">
                </label>
              </div>
            </div>
          </div>

          <div class="control-label">{{ _('Command') }}</div>
          <div class="controls" style="margin-left: 82px;">
            <div class="row-fluid">
              <div class="span12" style="margin-top:2px;">
                <textarea rows="2" class="block" data-bind="value: macro">
                </textarea>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="control-group">
        <div class="controls">
          <a href='#' data-bind='click: addMacro' title="{{ _('Add Macro') }}" class="fa fa-plus-circle"></a>
          {{ _('Add Macro') }}
        </div>
      </div>
      <div class="control-group">
        <span class="help-block">
          {{ _('To show a dialog that asks for parameters you can write your macro like in the following example:') }}<br />
        </span>
      </div>
      <div class="control-group">
        <div class="control-label">{{ _('Command') }}</div>
        <div class="controls" style="margin-left: 82px;">
          <div class="row-fluid">
            <div class="span12" style="margin-top:2px;">
              <div style="position: relative;">
                <textarea readonly
                  style='cursor: text; mix-blend-mode: difference; font-family: "Lucida Console", "Courier New", monospace;'
                  rows="2"
                  class="block klipper-noresize">PID_CALIBRATE HEATER={label:Heater, default:extruder, options:extruder|extruder1} TARGET={label:Target Temperature, unit:°C, default:190} WRITE_FILE={label:Write to File, default:0, options:0|1}</textarea>
                <i id="klipper-copyToClipboard" class="far fa-clone klipper-copyicon"
                  data-original-title="{{ _('Copy to Clipboard') }}"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Leveling -->
    <div class="tab-pane" id="level">
      <div class="control-group">
        <span class="help-block">
          {{ _('This feature assists in manually leveling your print bed by moving the head to the defined points in sequence. If you use a piece of paper for leveling, set "Probe Height" to the paper thickness eg. "0.1".') }}
        </span>
      </div>
      <div class="control-group">
        <div class="control-label">{{ _('Probe Height') }}</div>
        <div class="controls">
          <div class="klipper-reset-row">
            <div class="input-append">
              <input type="text" class="input-block-level span3"
                data-bind="value: settings.settings.plugins.klipper.probe.height" />
              <span class="add-on">mm</span>
            </div>
            <button type="button" class="btn btn-mini klipper-reset-btn" data-bind="click: function() { klipperViewModel.resetSetting('probe', 'height') }" title="{{ _('Reset to default') }}"><i class="icon-undo"></i></button>
          </div>
          <span class="help-inline">{{ _('Z-height to probe at') }}</span>
        </div>
      </div>
      <div class="control-group">
        <div class="control-label">{{ _('Probe Lift') }}</div>
        <div class="controls">
          <div class="klipper-reset-row">
            <div class="input-append">
              <input type="text" class="input-block-level span3"
                data-bind="value: settings.settings.plugins.klipper.probe.lift" />
              <span class="add-on">mm</span>
            </div>
            <button type="button" class="btn btn-mini klipper-reset-btn" data-bind="click: function() { klipperViewModel.resetSetting('probe', 'lift') }" title="{{ _('Reset to default') }}"><i class="icon-undo"></i></button>
          </div>
          <span class="help-inline">{{ _('Lift Head by this amount before moving.') }}</span>
        </div>
      </div>
      <div class="control-group">
        <div class="control-label">{{ _('Probe Feedrate Z') }}</div>
        <div class="controls">
          <div class="klipper-reset-row">
            <div class="input-append">
              <input type="text" class="input-block-level span3"
                data-bind="value: settings.settings.plugins.klipper.probe.speed_z" />
              <span class="add-on">mm/min</span>
            </div>
            <button type="button" class="btn btn-mini klipper-reset-btn" data-bind="click: function() { klipperViewModel.resetSetting('probe', 'speed_z') }" title="{{ _('Reset to default') }}"><i class="icon-undo"></i></button>
          </div>
        </div>
      </div>
      <div class="control-group">
        <div class="control-label">{{ _('Feedrate X/Y') }}</div>
        <div class="controls">
          <div class="klipper-reset-row">
            <div class="input-append">
              <input type="text" class="input-block-level span3"
                data-bind="value: settings.settings.plugins.klipper.probe.speed_xy" />
              <span class="add-on">mm/min</span>
            </div>
            <button type="button" class="btn btn-mini klipper-reset-btn" data-bind="click: function() { klipperViewModel.resetSetting('probe', 'speed_xy') }" title="{{ _('Reset to default') }}"><i class="icon-undo"></i></button>
          </div>
        </div>
      </div>
      <div class="control-group">
        <h5>{{ _('Probe Points') }}</h5>
        <div class="controls">
          <div class="row-fluid">
            <div class="span3">name</div>
            <div class="span3">x(mm)</div>
            <div class="span3">y(mm)</div>
            <div class="span3"> </div>
          </div>
        </div>
      </div>
      <div data-bind="foreach: settings.settings.plugins.klipper.probe.points" class="control-group">
        <div class="control-label" data-bind="text: $index"></div>
        <div class="controls">
          <div class="row-fluid">
            <div class="span3"><input type="text" class="input-block-level" data-bind="value: name" /></div>
            <div class="span3"><input type="text" class="input-block-level" data-bind="value: x" /></div>
            <div class="span3"><input type="text" class="input-block-level" data-bind="value: y" /></div>
            <div class="span3">
              <a href='#' data-bind='click: $parent.moveProbePointUp' class="fa fa-chevron-up"></a>
              <a href='#' data-bind='click: $parent.moveProbePointDown' class="fa fa-chevron-down"></a>
              <a href='#' data-bind='click: $parent.removeProbePoint' class="fa fa-trash-o"></a>
            </div>
          </div>
        </div>
      </div>
      <div class="control-group">
        <div class="controls">
          <a href='#' data-bind="click: addProbePoint" title="{{ _('Add Point') }}" class="fa fa-plus-circle"></a>
          {{_ ('Add Point') }}
        </div>
      </div>
    </div>


    <!-- Klipper Update Tab-->
    <div class="tab-pane" id="update">
      <h3 class="text-center m-0">{{ _('Updates') }}</h3>
      <div class="control-group">
        <div class="control-label">{{ _('Installed Host Version:') }}</div>
        <div class="controls">
          <p data-bind="text:klipperViewModel.host_version" title="{{ _('Version of the Klipper host')}}"></p>
        </div>
      </div>

      <div class="control-group">
        <div class="control-label">{{ _('Available Host Version:') }}</div>
        <div class="controls">
          <p data-bind="text:klipperViewModel.host_remote_version"
            title="{{ _('Version of the available Klipper host')}}">
          </p>
          <p data-bind="text:klipperViewModel.host_remote_version_date"
            title="{{ _('Release date of the available Klipper host')}}">
          </p>
        </div>
      </div>

      <div class="control-group">
        <div class="control-label">{{ _('Url to Repository of Klipper:') }}</div>
        <div class="controls">
          <div class="klipper-reset-row">
            <input type="text" class="span8"
              data-bind="value: settings.settings.plugins.klipper.configuration.remote_host_git" />
            <button class="btn btn-small" data-bind="click: function() { klipperViewModel.checkForKlipperUpdate() }, enable: !klipperViewModel.checkingUpdate()"
              title="{{ _('Check for Update') }}">
              <i class="icon-refresh" data-bind="css: { 'klipper-spin': klipperViewModel.checkingUpdate() }"></i>
            </button>
            <button type="button" class="btn btn-mini klipper-reset-btn" data-bind="click: function() { klipperViewModel.resetSetting('configuration', 'remote_host_git') }"
              title="{{ _('Reset to default') }}">
              <i class="icon-undo"></i>
            </button>
          </div>
        </div>
      </div>

      <div class="control-group" data-bind="visible: !klipperViewModel.klipperInstalled()">
        <div class="controls">
          <button class="btn btn-block btn-small btn-primary" data-bind="click: function() { klipperViewModel.requestInstall() }"
            title="{{ _('This will clone and install the Klipper host software') }}">
            {{ _("Install Klipper") }}
          </button>
        </div>
      </div>

      <div class="control-group">
        <div class="controls">
          <button class="btn btn-block btn-small" data-bind="click: function() { klipperViewModel.requestUpdate() }"
            title="{{ _('This will cause the host software to update and perform an internal reset') }}">
            {{ _("Update Host") }}
          </button>
        </div>
      </div>

      <div class="control-group">
        <div class="control-label">{{ _('Installed OctoKlipper Version:') }}</div>
        <div class="controls">
          <p data-bind="text:klipperViewModel.octoklipperInstalledVersion"
            title="{{ _('Version of the OctoKlipper Plugin')}}"></p>
        </div>
      </div>

      <div class="control-group">
        <div class="control-label">{{ _('Available OctoKlipper Version:') }}</div>
        <div class="controls">
          <p data-bind="text:klipperViewModel.octoklipperReleasedVersionForOctoprint"
            title="{{ _('Version of the available OctoKlipper Plugin')}}">
          </p>
        </div>
      </div>

      <div class="control-group">
        <div class="control-label">{{ _('Url to Repository of OctoKlipper:') }}</div>
        <div class="controls">
          <div class="klipper-reset-row">
            <input type="text" class="span8"
              data-bind="value: settings.settings.plugins.klipper.configuration.remote_octoklipper_git" />
            <button class="btn btn-small" data-bind="click: function() {klipperViewModel.checkOctoKlipperUpdate() }, enable: !klipperViewModel.checkingOctoKlipperUpdate()"
              title="{{ _('Check for Update') }}">
              <i class="icon-refresh" data-bind="css: { 'klipper-spin': klipperViewModel.checkingOctoKlipperUpdate() }"></i>
            </button>
            <button type="button" class="btn btn-mini klipper-reset-btn" data-bind="click: function() { klipperViewModel.resetSetting('configuration', 'remote_octoklipper_git') }"
              title="{{ _('Reset to default') }}">
              <i class="icon-undo"></i>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="tab-footer">
    <button type="button" class="btn btn-mini" data-bind="click: klipperViewModel.resetAllSettings"
      title="{{ _('Reset all OctoKlipper settings to their defaults') }}">
      <i class="icon-undo"></i> {{ _('Reset all settings') }}
    </button>
    <a href="https://www.paypal.com/donate/?business=7P63W664NF8LA&item_name=OctoKlipper"
      class="btn btn-mini octoklipper-donate" target="_blank">
      <i class="fab fa-paypal"> {{ _('Donate') }}</i>
    </a>
  </div>
</form>

<!-- Klipper install working dialog -->
<div id="klipper_install_dialog" class="modal hide fade-in">
  <div class="modal-header">
    <h3 data-bind="text: klipperViewModel.installTitle"></h3>
  </div>
  <div class="modal-body">
    <div class="control-group" data-bind="visible: !klipperViewModel.installWorking()">
      <div class="control-label">{{ _('Sudo password (optional):') }}</div>
      <div class="controls">
        <input type="password" class="span8" data-bind="value: klipperViewModel.installPassword, valueUpdate: 'afterkeydown'"
          placeholder="{{ _('Only needed if passwordless sudo is not configured') }}" />
      </div>
    </div>
    <pre id="klipper_install_dialog_output" class="pre-scrollable pre-output" style="height: 170px"
      data-bind="foreach: klipperViewModel.installLoglines"><span data-bind="text: line + '\n', css: {stdout: stream == 'stdout', stderr: stream == 'stderr', call: stream == 'call', message: stream == 'message', error: stream == 'error'}"></span></pre>
  </div>
  <div class="modal-footer">
    <button class="btn btn-primary" data-bind="click: klipperViewModel.startInstall, enable: !klipperViewModel.installWorking()">{{ _('Start Install') }}</button>
    <button class="btn" data-dismiss="modal" data-bind="enable: !klipperViewModel.installWorking()" aria-hidden="true">{{ _('Close') }}</button>
  </div>
</div>

<div id="klipper_logfilters_dialog" class="modal hide fade span8" tabindex="-1" role="dialog"
  aria-labelledby="klipper_logfilters_label" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal">&times;</button>
  </div>
  <div class="modal-body">
    <h3>{{ _("Log Filters") }}</h3>
    <form class="form-horizontal" onsubmit="return false;">
      <div class="row-fluid">
        <div class="span4">
          <h4>{{ _('Name') }}</h4>
        </div>
        <div class="span6">
          <h4>{{ _('RegExp') }} <small><a
                href="https://developer.mozilla.org/en/docs/Web/JavaScript/Guide/Regular_Expressions">?</a></small></h4>
        </div>
      </div>
      <div data-bind="foreach: settings.settings.plugins.klipper.log.logFilters">
        <div class="row-fluid" style="margin-bottom: 5px">
          <div class="span4">
            <input type="text" class="span12" data-bind="value: name">
          </div>
          <div class="span6">
            <input type="text" class="span12" data-bind="value: regex">
          </div>
          <div class="span2">
            <a title="Remove Filter" class="btn btn-danger" data-bind="click: $parent.removeLogFilter"><i
                class="far fa-trash-alt"></i></a>
          </div>
        </div>
      </div>
      <div class="row-fluid">
        <div class="offset10 span2">
          <a title="Add Filter" class="btn btn-primary" data-bind="click: addLogFilter"><i class="fas fa-plus"></i></a>
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" data-dismiss="modal">{{ _('Close') }}</button>
  </div>
</div>
