<div class="klipper-row-fluid">
  <div id="left-side">
    <label class="klipper-inline"> <i class="icon-tasks"></i> {{ _("Messages") }} </label>
    <button class="btn btn-small pull-right"
      data-bind="visible: hasPermKo('CONFIG'), click: openOctoKlipperSettings('klipper-basic')"
      title="{{ _('Open the OctoKlipper Settings') }}">
      <i class="fa icon-black fa-wrench"></i>
    </button>
    <div id="octoklipper-log" class="plugin-klipper-log"
      data-bind="foreach: displayedLines, event: { scroll: logScrollEvent }">
      <div class="log-item" data-bind="css: type">
        <div data-bind="text: time" class="ts"></div>
        <div data-bind="html: msg" class="msg"></div>
      </div>
    </div>
    <!-- <pre id="octoklipper-log" class="plugin-klipper-log"
      data-bind="text: plainLogOutput, visible: !fancyFunctionality()">
    </pre> -->
    <div class="row-fluid">
      <div class="pull-left">
        <button class="btn btn-mini terminal-autoscroll"
          data-bind="visible: settings.settings.plugins.klipper.configuration.debugging, click: testLog">{{ _('Test Log') }}</button>
        <small id="octoklipper-log-autoscroll-panel" data-bind="visible: fancyFunctionality()">
          <button class="btn btn-mini terminal-autoscroll"
            data-bind="click: toggleAutoscroll, css: {active: autoscrollEnabled}">{{ _('Autoscroll') }}</button>
          <span data-bind="text: lineCount, visible: fancyFunctionality()"></span>
          <span data-bind="visible: !autoscrollEnabled && fancyFunctionality" style="display: none">(<a
              href="javascript:void(0)" data-bind="click: scrollToEnd">{{ _("Scroll to end") }}</a>)</span>
        </small>
      </div>
      <div class="pull-right">
        <a href="javascript:void(0)" data-bind="click: copyLog"><i class="fas fa-copy terminal-copy-all"
            title="{{ _('Copy all')|edq }}"></i> {{ _('Copy all') }}</a><br>
        <a href="javascript:void(0)" data-bind="click: onClearLog"><i class="far fa-trash-alt terminal-clear-logs"
            title="{{ _('Clear log window')|edq }}"></i> {{ _('Clear all') }}</a>
        <!--  <button class="btn btn-mini clear-btn" data-bind="click: onClearLog" title="{{ _('Clear Log') }}">
          <i class="fa fa-trash"></i> {{ _('Clear Log') }}
        </button> -->
      </div>
    </div>
    <label class="klipper-inline" data-bind="visible: fancyFunctionality()"> {{ _("Log Filters") }} </label>
    <div class="klipper-logfilters"
      data-bind="foreach: settings.settings.plugins.klipper.log.logFilters, visible: fancyFunctionality()">
      <label class="checkbox">
        <input type="checkbox" data-bind="attr: { value: regex }, checked: $parent.activeFilters" />
        <span data-bind="text: name"></span>
      </label>
    </div>
  </div>

  <div id="right-side">
    <div class="control-group">
      <div class="control-group">
        <div class="controls">
          <label class="control-label"></label>
          <button class="btn btn-block btn-small" data-bind="click: onGetStatus, enable: isActive()"
            title="{{ _('Query Klipper for its current status') }}">
            <i class="fa icon-black fa-info-circle"></i> {{ _("Get Status") }}
          </button>
          <button class="btn btn-block btn-small" data-bind="visible: hasPermKo('CONFIG'), click: showEditorDialog"
            title="{{ _('Show the Editor') }}">
            <i class="fa icon-black fa-file-code-o"></i>
            {{ _("Show Editor") }}
          </button>
        </div>
      </div>
      <div class="control-group">
        <div class="controls">
          <label class="control-label small"><i class="icon-refresh"></i> {{ _("Restart") }}</label>
          <button id="klipper-restart-host" class="btn btn-block btn-small"
            data-bind="click: requestRestart('HOST'), enable: isActive()"
            title="{{ _('This will cause the host software to reload its config and perform an internal reset') }}">
            {{ _("Host") }}
          </button>
          <button id="klipper-restart-firmware" class="btn btn-block btn-small"
            data-bind="click: requestRestart('FIRMWARE'), enable: isActive()"
            title="{{ _('Similar to a host restart, but also clears any error state from the micro-controller') }}">
            {{ _("Firmware") }}
          </button>
          </br>
          <!-- ko if: settings.settings.plugins.klipper.configuration.restart_service_system_command -->
          <button id="klipper-restart-service" class="btn btn-block btn-small"
            data-bind="visible: hasPermKo('CONFIG'), click: requestRestart('SYSTEMCOMMAND'), enable: isActive()"
            title="{{ _('This will cause the host klipper service to immediately stop and restart!') }}&#13;{{ _('You can set this command in the settings.') }}&#13;{{ _('Actual command:') }}">
            {{ _("Host") }}
          </button>
          <!-- /ko -->
        </div>
      </div>
      <div class="control-group">
        <div class="controls">
          <label class="control-label"><i class="icon-wrench"></i> {{ _("Tools") }}</label>
          <button class="btn btn-block btn-small" data-bind="click: showLevelingDialog, enable: isActive()"
            title="{{ _('Assists in manually leveling your printbed by moving the head to a configurable set of positions in sequence.') }}">
            {{ _("Assisted Bed Leveling") }}
          </button>
          <button class="btn btn-block btn-small" data-bind="click: showPidTuningDialog, enable: isActive()"
            title="{{ _('Determines optimal PID parameters by heat cycling the hotend/bed.') }}">
            {{ _("PID Tuning") }}
          </button>
          <button class="btn btn-block btn-small" data-bind="click: showOffsetDialog, enable: isActive()"
            title="{{ _('Sets a offset for subsequent GCODE coordinates.') }}">
            {{ _("Coordinate Offset") }}
          </button>
          <button class="btn btn-block btn-small" data-bind="click: showGraphDialog"
            title="{{ _('Assists in debugging performance issues by analyzing the Klipper log files.') }}">
            {{ _("Analyze Klipper Log") }}
          </button>
        </div>
      </div>
      <div class="controls" data-bind="visible: hasPermKo('MACRO')">
        <label class="control-label"><i class="icon-list-alt"></i> {{ _("Macros") }}</label>
        <div data-bind="foreach: settings.settings.plugins.klipper.macros">
          <!-- ko if: tab -->
          <button class="btn btn-block btn-small"
            data-bind="text: name, class: buttonStyle, click: $parent.executeMacro, enable: $parent.isActive(), attr: { style: $parent.buttonColor($data)}">
          </button>
          <!-- /ko -->
        </div>
      </div>
    </div>
  </div>
</div>
