<div id="klipper_leveling_dialog" class="modal hide fade small" tabindex="-1" role="dialog"
  aria-labelledby="leveling_dialog_label" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal">&times;</button>
    <h3 id="leveling_dialog_label">{{ _('Assisted Bed Leveling') }}</h3>
  </div>
  <div class="modal-body">
    <div class="klipper-flex klipper-items-center klipper-gap-2 klipper-mb-1">
      <div class="klipper-leveling-indicator">
        <i class="fa fa-arrow-right" data-bind="visible: (activePoint() == -1)"></i>
      </div>
      <div class="klipper-leveling-index"></div>
      <button class="btn btn-mini btn-info klipper-leveling-btn" data-bind="click: gotoHome">
        {{ _('Home') }}
      </button>
    </div>
    <div data-bind="foreach: points">
      <div class="klipper-flex klipper-items-center klipper-gap-2 klipper-mb-1">
        <div class="klipper-leveling-indicator">
          <i class="fa fa-arrow-right" data-bind="visible: ($index()==$parent.activePoint())"></i>
        </div>
        <div class="klipper-leveling-index" data-bind="text: $index"></div>
        <button class="btn btn-mini btn-info klipper-leveling-btn" data-bind="click: $parent.jumpToPoint">
          <!-- ko if: name -->
          <span data-bind="text: name"></span>
          <!-- /ko -->
          <!-- ko ifnot: name -->
          ( <span data-bind="text: x"></span>, <span data-bind="text: y"></span> )
          <!-- /ko -->
        </button>
      </div>
    </div>
    <div class="klipper-flex klipper-justify-center klipper-mt-2">
      <div class="btn-group">
        <button class="btn" data-bind="click: startLeveling"><i class="icon-play"></i> {{ _('Start') }}</button>
        <button class="btn" data-bind="click: previousPoint, enable: (activePoint() > 0)"><i
            class="icon-chevron-left"></i> {{ _('Previous') }}</button>
        <button class="btn" data-bind="click: nextPoint, enable: (activePoint() < (pointCount()-1))">{{ _('Next') }} <i
            class="icon-chevron-right"></i></button>
        <button class="btn" data-bind="click: stopLeveling" data-dismiss="modal"><i class="icon-stop"></i>
          {{ _('Stop') }}</button>
      </div>
    </div>
  </div>
</div>
