<div class="control-group" data-bind="visible: hasPermKo('MACRO')">
  <div class="controls">
    <div data-bind="foreach: macroGroupsSidebar">
      <!-- ko if: name -->
      <div class="klipper-macro-group">
        <div class="klipper-macro-group-name">
          <a href="javascript:void(0)" data-bind="click: function() { $root.toggleMacroGroup(name, 'sidebar') }">
            <i
              data-bind="css: $root.macroGroupCollapsed(name, 'sidebar') ? 'icon-chevron-right' : 'icon-chevron-down'"></i>
            <span data-bind="text: name"></span>
          </a>
        </div>
        <div class="klipper-macros"
          data-bind="foreach: macros, visible: !name || !$root.macroGroupCollapsed(name, 'sidebar')">
          <button class="btn btn-block klipper-truncate"
            data-bind="text: name, class: buttonStyle() != '' ? buttonStyle : '', click: $root.executeMacro, attr: { style: $root.buttonColor($data)}"></button>
        </div>
      </div>
      <!-- /ko -->
      <!-- ko ifnot: name -->
      <div class="klipper-macros"
        data-bind="foreach: macros, visible: !name || !$root.macroGroupCollapsed(name, 'sidebar')">
        <button class="btn btn-block klipper-truncate"
          data-bind="text: name, class: buttonStyle() != '' ? buttonStyle : '', click: $root.executeMacro, attr: { style: $root.buttonColor($data)}"></button>
      </div>
      <!-- /ko -->
    </div>
  </div>
</div>
