<!-- ko if: settings.settings.plugins.klipper.configuration.parse_macros -->
<div class="control-group" data-bind="visible: hasPermKo('MACRO')">
  <div class="controls">
    <!-- ko if: klipperMacrosLoaded -->
    <!-- ko if: klipperMacros().length -->
    <div data-bind="foreach: klipperMacroGroupsSidebar">
      <!-- ko if: name -->
      <div class="klipper-macro-group">
        <div class="klipper-macro-group-name">
          <a href="javascript:void(0)" data-bind="click: function() { $root.toggleKlipperMacroGroup(name, 'sidebar') }">
            <i
              data-bind="css: $root.klipperMacroGroupCollapsed(name, 'sidebar') ? 'icon-chevron-right' : 'icon-chevron-down'"></i>
            <span data-bind="text: name"></span>
          </a>
        </div>
        <div class="klipper-macros"
          data-bind="foreach: macros, visible: !name || !$root.klipperMacroGroupCollapsed(name, 'sidebar')">
          <button class="btn btn-block klipper-truncate"
            data-bind="text: name, class: buttonStyle() != '' ? buttonStyle : '', attr: { title: $root.macroTooltip($data), style: $root.buttonColor($data) }, click: $root.executeKlipperMacro"></button>
        </div>
      </div>
      <!-- /ko -->
      <!-- ko ifnot: name -->
      <div class="klipper-macros"
        data-bind="foreach: macros, visible: !name || !$root.klipperMacroGroupCollapsed(name, 'sidebar')">
        <button class="btn btn-block klipper-truncate"
          data-bind="text: name, class: buttonStyle() != '' ? buttonStyle : '', attr: { title: $root.macroTooltip($data), style: $root.buttonColor($data) }, click: $root.executeKlipperMacro"></button>
      </div>
      <!-- /ko -->
    </div>
    <!-- /ko -->
    <!-- ko ifnot: klipperMacros().length -->
    <span class="help-block">{{ _("No macros found in printer.cfg.") }}</span>
    <!-- /ko -->
    <!-- /ko -->
  </div>
</div>
<!-- /ko -->
