<div class="control-group">
  <div class="controls">
    <label for="connection_printers"
      data-bind="css: {disabled: !connectionState.isErrorOrClosed()}, enable: connectionState.isErrorOrClosed() && loginState.isUser()">{{ _('Printer Profile') }}</label>
    <select id="connection_printers"
      data-bind="options: connectionState.printerOptions, optionsText: 'name', optionsValue: 'id', value: connectionState.selectedPrinter, css: {disabled: !connectionState.isErrorOrClosed()}, enable: connectionState.isErrorOrClosed() && loginState.isUser()"></select>
    <button class="btn btn-block"
      data-bind="click: connectionState.connect, text: connectionState.buttonText(), enable: loginState.isUser()">{{ _('Connect') }}</button>

    <div class="btn-group action-buttons klipper-row-fluid">
      <!-- ko ifnot: settings.settings.plugins.klipper.connection.hide_config_button -->
      <button class="btn klipper-fluid-item-1" title="{{ _('Configs') }}"
        data-bind="visible: hasPermKo('CONFIG'), click: showFilesDialog">{{ _('Configs') }}</button>
      <!-- /ko -->
      <!-- ko ifnot: settings.settings.plugins.klipper.connection.hide_editor_button -->
      <button class="btn klipper-fluid-item-1" title="{{ _('Open Editor') }}"
        data-bind="visible: hasPermKo('CONFIG'), click: showEditorDialog">{{ _('Open Editor') }}</button>
      <!-- /ko -->
    </div>

  </div>
</div>
<!-- ko if: settings.settings.plugins.klipper.configuration.shortStatus_sidebar -->
<div id="shortStatus_SideBar" class="plugin-klipper-sidebar"
  data-bind="css: { KlipperShortStatusWarning: shortStatus_type()=='warning', KlipperShortStatusError: shortStatus_type()=='error' }">
  <a class="msg" title="{{ _('Go to OctoKlipper Tab') }}"
    data-bind="click: navbarClicked, html: shortStatus_sidebar, style: { color: shortStatus_type()=='warning' || shortStatus_type()=='error' ? 'black' : '' }"></a>
</div>
<!-- /ko -->
<div class="control-group" data-bind="visible: hasPermKo('MACRO')">
  <div class="controls">
    <label class="control-label small"><i class="icon-list-alt"></i> {{ _('Macros') }}</label>
    <div data-bind="foreach: settings.settings.plugins.klipper.macros">
      <!-- ko if: sidebar -->
      <button class="btn btn-block"
        data-bind="text: name, class: buttonStyle() != '' ? buttonStyle : '', click: $parent.executeMacro, enable: $parent.isActive(), attr: { style: $parent.buttonColor($data)}"></button>
      <!-- /ko -->
    </div>
  </div>
</div>
