{# Svelte 5 version of the main tab #}
<div id="klipper-tab-svelte-container"></div>

{# Fallback to original Knockout.js template if Svelte fails to load #}
<noscript>
  {% include "klipper_tab_main_knockout.jinja2" %}
</noscript>
